beam-smos-reader/src/main/resources/smos-schemas/common/MIR_/L0_SPH_Main_Info_0012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 12.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0012" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../common/Complex_Unit_Types_0010.xsd"/>
	<xs:complexType name="Time_Info_Type">
		<xs:sequence>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Precise_Validity_Start" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Precise_Validity_Stop" type="string_date_30_Type"/>
			<xs:element default="+00000" name="Abs_Orbit_Start" type="integer_s06d_Type"/>
			<xs:element default="0000.000000" name="Rel_Time_ANX_Start" type="s_double_04p6lf_Unit_Type"/>
			<xs:element default="+00000" name="Abs_Orbit_Stop" type="integer_s06d_Type"/>
			<xs:element default="0000.000000" name="Rel_Time_ANX_T_Stop" type="s_double_04p6lf_Unit_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="UTC_at_ANX" type="string_date_30_Type"/>
			<xs:element default="0000.000000" name="Long_at_ANX" type="deg_double_04p6lf_Unit_Type"/>
			<xs:element default="A" name="Ascending_Flag" type="string_Ascending_Flag_1_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Semiorbit_Start_Time" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Semiorbit_Stop_Time" type="string_date_30_Type"/>
			<xs:element default="0000000.000" name="Total_Sensed_Time" type="s_double_07p3lf_Unit_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Origin_of_Data_Type">
		<xs:sequence>
			<xs:element default="XXXX" name="DAS_HW_Identifier" type="string_4_Type"/>
			<xs:element default="XXXX" name="L0P_HW_Identifier" type="string_4_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>