beam-smos-reader/src/main/resources/smos-schemas/common/MIR_/L0_SPH_Data_Sets_0010.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 10.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0010" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:complexType name="Data_Set_Type">
		<xs:sequence>
			<xs:element default="x" name="DS_Name" type="string_max_30_Type"/>
			<xs:element default="M" name="DS_Type" type="string_Data_Set_Type_1_Type"/>
			<xs:element default="0000000000" name="DS_Size" type="long_010ld_Type"/>
			<xs:element default="0000000000" name="DS_Offset" type="long_010ld_Type"/>
			<xs:element default="x" name="Ref_Filename" type="string_max_60_Type"/>
			<xs:element default="0000000000" name="Num_DSR" type="long_010ld_Type"/>
			<xs:element default="00000000" name="DSR_Size" type="integer_08d_Type"/>
			<xs:element default="3210" name="Byte_Order" type="string_Byte_Order_4_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="List_Data_Sets_Type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Data_Set" type="Data_Set_Type"/>
		</xs:sequence>
		<xs:attribute default="0" name="count" type="unsigned_Short_hu_Type"/>
	</xs:complexType>
</xs:schema>