beam-smos-reader/src/main/resources/smos-schemas/common/MIR_/L0_SPH_Product_Confidence_Data_0011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 11.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0011" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../common/Complex_Unit_Types_0010.xsd"/>
	<xs:complexType name="List_of_Passes_Type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Pass" type="Pass_Type"/>
		</xs:sequence>
		<xs:attribute default="00" name="count" type="unsigned_Short_hu_Type"/>
	</xs:complexType>
	<xs:complexType name="Pass_Type">
		<xs:sequence>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Pass_Start_Time" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Pass_Stop_Time" type="string_date_30_Type"/>
			<xs:element default="000000" name="N_Missing_24packet_Blocks" type="integer_06d_Type"/>
			<xs:element default="000000" name="N_RS_Corrected_Bytes" type="integer_06d_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="L0_Product_Confidence_Data_Type">
		<xs:sequence>
			<xs:element default="000000" name="N_Valid_Packets" type="integer_06d_Type"/>
			<xs:element default="000000" name="N_Missing_Packets" type="integer_06d_Type"/>
			<xs:element default="000000" name="N_Invalid_Blocks" type="integer_06d_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="L0_Product_Derived_Confidence_Data_Type">
		<xs:sequence>
			<xs:element default="000000" name="Missing_ISP_Threshold" type="percentage_10Exp-2_integer_06d_Unit_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>