beam-smos-reader/src/main/resources/smos-schemas/common/MIR_/L1_SPH_Quality_Information_0008.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 8.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0008" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../common/Complex_Unit_Types_0010.xsd"/>
	<xs:complexType name="Quality_Information_Type">
		<xs:sequence>
			<xs:element default="0" name="Overall_Quality" type="integer_01d_Flag_Type"/>
			<xs:element default="00000" name="L1_Quality" type="percentage_10Exp-2_integer_05d_Unit_Type"/>
			<xs:element default="00000" name="L1_Err_Threshold" type="percentage_10Exp-2_integer_05d_Unit_Type"/>
			<xs:element default="000000" name="N_Invalid_Blocks" type="epochs_integer_06d_Unit_Type"/>
			<xs:element default="000000" name="N_Missing_Packets" type="packets_integer_06d_Unit_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>