beam-smos-reader/src/main/resources/smos-schemas/common/MIR_/L1_SPH_Specific_Product_Location_Browse_C_0009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 9.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0009" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../common/Complex_Unit_Types_0010.xsd"/>
	<xs:complexType name="Product_Location_Type">
		<xs:sequence>
			<xs:element default="+000.000000" name="Start_Lat" type="deg_double_s04p6lf_Unit_Type"/>
			<xs:element default="+000.000000" name="Start_Long" type="deg_double_s04p6lf_Unit_Type"/>
			<xs:element default="+000.000000" name="Stop_Lat" type="deg_double_s04p6lf_Unit_Type"/>
			<xs:element default="+000.000000" name="Stop_Long" type="deg_double_s04p6lf_Unit_Type"/>
			<xs:element default="+000.000000" name="Mid_Lat" type="deg_double_s04p6lf_Unit_Type"/>
			<xs:element default="+000.000000" name="Mid_Lon" type="deg_double_s04p6lf_Unit_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>