beam-smos-reader/src/main/resources/smos-schemas/common/common/Basic_Types_0012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 12.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://213.170.46.150/smos/schemas" targetNamespace="http://213.170.46.150/smos/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0012">
	<xs:simpleType name="string_Type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="integer_d_Type">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="float_f_Type">
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	<xs:simpleType name="short_hd_Type">
		<xs:restriction base="xs:short"/>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Short_hu_Type">
		<xs:restriction base="xs:unsignedShort"/>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Integer_hd_Type">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>
	<xs:simpleType name="string_File_Name_60_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}_[A-Z]{4}_[A-Z_]{4}[a-zA-Z0-9_]{6}_[a-zA-Z0-9_]{41}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_60_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_DS_Type_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="M|R"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_14_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_4_Type">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_4_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_5_Type">
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Upper_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_File_Class_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="TEST|OPER|REPR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_03d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Integer_03u_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_date_22_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}=[0-9]{4}\-[0-1]{1}[0-9]{1}[0-3]{1}[0-9]{1}[T][0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_date_30_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}=([0-9]{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9])))T([0,1][0-9]|2[0-3])(:[0-5][0-9]){2}\.[0-9]{6}|0000-00-00T00:00:00.000000|9999-99-99T99:99:99.999999)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_date_30_with_blank_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Z0-9]{3}=([0-9]{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9])))T([0,1][0-9]|2[0-3])(:[0-5][0-9]){2}\.[0-9]{6}|0000-00-00T00:00:00.000000|9999-99-99T99:99:99.999999))|(                              )"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_date_23_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}=([0-9]{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1,2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1,2][0-9]|30))|(02-(0[1-9]|[1,2][0-9])))T([0,1][0-9]|2[0-3])(:[0-5][0-9]){2}|0000-00-00T00:00:00|9999-99-99T99:99:99)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_12_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Creator_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_File_Type_10_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}_[A-Z_0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_13_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Proc_Stage_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="OPER|TEST|RPRO|NRET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Product_Confidence_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="NOMINAL|DEGRADED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Acquisition_Chain_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="A|B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Flag_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Proc_Version_14_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9_]{9}/[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Upper_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s04d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s05d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_04d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-]{1}[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Integer_04u_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s06d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_06d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s08p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{7}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s08p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{7}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s05p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{4}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_04p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{3}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_03p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-]{1}[0-9]{2}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s03p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{2}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Vector_Source_3_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="IG|FP|FR| "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Vector_Source_2_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="IG|FP|FR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Vector_Source_With_Blank_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="IG|FP|FR|  "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_010d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="long_010ld_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_011d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="long_011ld_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_021d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="long_021ld_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s011d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[-+][0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="long_s011ld_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[-+][0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Ascending_Flag_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="A|D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_28_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="28"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_27_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="27"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_17_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Data_Set_Type_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="M|R"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s08d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_62_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="62"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Byte_Order_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="3210|0123|2301|0000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Overlap_Included_3_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="Yes|No|N/A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Type_Gap_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Mode_Gap_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<!--<xs:complexType name="deg_float_03p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_03p3f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="deg"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>-->
	<xs:simpleType name="integer_01d_Type_Processing_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Reason_Reprocessing_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Reason_Product_Qualification_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3|4|5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Source_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_02d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Algorithm_Name_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Algorithm_Creator_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Algorithm_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_J_Matrix_Pseudoinversion_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_04d_Xi_Eta_Resolution_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Direct_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="-1|0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Reflected_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|-1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Contribution_Removed_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="-1|0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_2d_Direct_Sun_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="-1|0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_2d_Reflected_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|-1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_2d_Contribution_Removed_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="-1|0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Flat_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Ionospheric_Information_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Type_of_Processing_Mixed_Pixels_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Geometric_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Apodisation_Function_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_03d_Apodisation_Window_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Mode_15_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="APID_DUAL|APID_EXC_DUAL|APID_FULL|APID_EXC_FULL|APID_U_CAL|APID_C_CAL|APID_TEST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Overall_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_010f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_01p16f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}\.[0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_01p16lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-]{1}\.[0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_010p4f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{9}\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_010p4lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{9}\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s3p6_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_4d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Attitude_4_Flag_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="NOMINAL_POINTING|TRANSITION_TO_NOMINAL_POINTING|TRANSITION_TO_EXTERNAL_POINTING|EXTERNAL_POINTING"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_1d_Logical_Proc_Centre_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-6]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_1f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s04p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_07p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{6}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_07p3lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{6}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Acquisition_Chain_5_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="FEP-1|FEP-2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Acquisition_Chain_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="DAS1|DAS2|DAS3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_200_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s02d_Flag_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s1p16f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-]\.[0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_s1p16lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-]\.[0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_08p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{7}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_08p3lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{7}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_06p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{5}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_06p3lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{5}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s06p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{5}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_s06p3lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{5}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_1d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Image_Reconstruction_Algorithm_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s04p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_s04p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="long_017ld_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_08d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_01p1f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}\.[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_01p2f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_01p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_4_length_Type">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Digits_3_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Quality_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="P|W|F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Product_Confidence_7_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="NOMINAL|ERROR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_8_Type">
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_1_Type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_3_Type">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_20_Type">
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_30_Type">
		<xs:restriction base="xs:string">
			<xs:length value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_60_Type">
		<xs:restriction base="xs:string">
			<xs:length value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_05d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_05p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{4}.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_04p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{3}.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s03d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s07d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_s08p3lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{7}.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_s05p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{4}.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_04p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{3}.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_010lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9\.][0-9]{8}|[0-9\-][0-9][0-9\.][0-9]{7}|[0-9\-][0-9]{2}[0-9\.][0-9]{6}|[0-9\-][0-9]{3}[0-9\.][0-9]{5}|[0-9\-][0-9]{4}[0-9\.][0-9]{4}|[0-9\-][0-9]{5}[0-9\.][0-9]{3}|[0-9\-][0-9]{6}[0-9\.][0-9]{2}|[0-9\-][0-9]{7}[0-9\.][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_012lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9\.][0-9]{10}|[0-9\-][0-9][0-9\.][0-9]{9}|[0-9\-][0-9]{2}[0-9\.][0-9]{8}|[0-9\-][0-9]{3}[0-9\.][0-9]{7}|[0-9\-][0-9]{4}[0-9\.][0-9]{6}|[0-9\-][0-9]{5}[0-9\.][0-9]{5}|[0-9\-][0-9]{6}[0-9\.][0-9]{4}|[0-9\-][0-9]{7}[0-9\.][0-9]{3}|[0-9\-][0-9]{8}[0-9\.][0-9]{2}|[0-9\-][0-9]{9}[0-9\.][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_01p8lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]\.[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_03p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{2}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_07d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_04f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9\.][0-9]{2}|[0-9]{2}[0-9\.][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_02p7lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]\.[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_30_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s010d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_42_Type">
		<xs:restriction base="xs:string">
			<xs:length value="42"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_42_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="42"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_200_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_300_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="max_300_Type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_02p2f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="byte_Type">
		<xs:restriction base="xs:byte"/>
	</xs:simpleType>
	<xs:simpleType name="byte_hd_Type">
		<xs:restriction base="xs:byte"/>
	</xs:simpleType>
	<xs:simpleType name="string_Password_16_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Username_16_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_IP_15_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Directory_256_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Logging_Level_7_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="DEBUG|INFO|WARNING|ERROR|FATAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Type_16_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="Calibration|Non-calibration"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Mode_16_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_File_Category_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="MIR_|TLM_"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Description_4_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_L0_Product_256_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_32_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Facility_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3|4|5|6|7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Ref_Document_30_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_File_Class_16_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_10_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_APID_Approach_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="All|List"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Target_L0P_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="L0P1|L0P2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_09d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="long_09ld_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Long_09lu_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Quality_Flag_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="P|W|F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Subtitle_2_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="OPER|RPRO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_06p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_06p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{5}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_31_Type">
		<xs:restriction base="xs:string">
			<xs:length value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_u_Type">
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Integer_u_Type">
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
	<xs:simpleType name="string_File_Class_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="TEST|OPER|OFFL|NRT_|RPRO|STV0|STV1|STV2|STV3|GSOV|TD00|TD01|TD02|TD03|TD04|TD05|TD06|TD07|TD08|TD09|TD10|TD11|TD12|TD13|TD14|TD15|TD16|TD17|TD18|TD19|TD20|TD21|TD22|TD23|TD24|TD25|TD26|TD27|TD28|TD29|TD30|TD31|TD32|TD33|TD34|TD35|TD36|TD37|TD38|TD39|TD40|TD41|TD42|TD43|TD44|TD45|TD46|TD47|TD48|TD49|TD50|TD51|TD52|TD53|TD54|TD55|TD56|TD57|TD58|TD59|TD60|TD61|TD62|TD63|TD64|TD65|TD66|TD67|TD68|TD69|TD70|TD71|TD72|TD73|TD74|TD75|TD76|TD77|TD78|TD79|TD80|TD81|TD82|TD83|TD84|TD85|TD86|TD87|TD88|TD89|TD90|TD91|TD92|TD93|TD94|TD95|TD96|TD97|TD98|TD99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_File_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9_]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_UTC_Date_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="UTC=[0-9]{4}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1}[T][0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Start_Type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="string_TAI_Date_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="TAI=[0-9]{4}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1}[T][0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_UT1_Date_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="UT1=[0-9]{4}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1}[T][0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_UTC_Date_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="UTC=[0-9]{4}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1}[T][0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Time_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_s12p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{4}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Short_1hu_Algorithms_FS_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_1d_Algorithms_Sun_BT_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_1d_Algorithms_Moon_BT_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s03p2f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_03p1f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{2}\.[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_03p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{2}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="long_015ld_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s02d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]|[0]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="byte_1hd_Flag_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Short_1hu_Algorithms_Sun_BT_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Short_1hu_Algorithms_Moon_BT_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Long_08lu_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_0p8g_Type">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="short_01hd_Image_Reconstruction_Algorithm_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="short_01hd_JMatrix_PseudoInversion_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="short_03hd_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-][0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_g_Type">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="float_g_Type">
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	<xs:simpleType name="string_boolean_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="true|false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_1d_Logical_Processing_Centre_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_5_Processor_Version_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}_[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_File_Type_DBL_REP_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="Constants|Configuration|Auxiliary|Calibration|Measurements"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Subtitle_3_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="OPER|RPRO|TEST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Integer_07u_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_16_with_blanks_Type">
		<xs:restriction base="xs:string">
			<xs:length value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s08p1f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{7}\.[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
