beam-smos-reader/src/main/resources/smos-schemas/common/common/Complex_Unit_Types_0007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 7.0 14/05/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://213.170.46.150/smos/schemas" targetNamespace="http://213.170.46.150/smos/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0007">
	<xs:include schemaLocation="../common/Basic_Types_0009.xsd"/>
	<xs:complexType name="m_double_s08p3lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_s08p3lf_Type">
				<xs:attribute name="unit" type="string_Type" default="m"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="m__s_double_s05p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_s05p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="m/s"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="s_double_04p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_04p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="s"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="s_double_07p3lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_07p3lf_Type">
				<xs:attribute name="unit" type="string_Type" default="s"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="deg_double_04p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_04p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="deg"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="deg_float_s04p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_s04p3f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="deg"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="deg_10Exp-6_double_s04p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_s04p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="10^-6 deg"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="percentage_10Exp-2_integer_06d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_06d_Type">
				<xs:attribute name="unit" type="string_Type" default="10^-2%"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="percentage_10_integer_06d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_06d_Type">
				<xs:attribute name="unit" type="string_Type" default="10%"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="deg_double_s04p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_s04p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="deg"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="percentage_float_02p2f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_02p2f_Type">
				<xs:attribute name="unit" type="string_Type" default="%"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="s_integer_06d_unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_06d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="s"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="days_integer_06d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_06d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="days"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="m__s_float_s05p6f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_s05p6f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="m/s"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="percentage_10Exp-2_integer_05d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_05d_Type">
				<xs:attribute name="unit" type="string_Type" default="10^-2%"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="epochs_integer_06d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_06d_Type">
				<xs:attribute name="unit" type="string_Type" default="epochs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="packets_integer_06d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_06d_Type">
				<xs:attribute name="unit" type="string_Type" default="packets"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="day_long_ld_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="xs:long">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="day"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="orbit_long_ld_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="xs:long">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="orbit"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="s__day_double_s12p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_s12p6lf_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="s/day"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seconds_integer_06d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_06d_Type">
				<xs:attribute name="unit" type="string_Type" default="seconds"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sec_integer_05d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_05d_Type">
				<xs:attribute name="unit" type="string_Type" default="sec"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="K_integer_03d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_03d_Type">
				<xs:attribute name="unit" type="string_Type" default="K"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="K_short_03hd_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="short_03hd_Type">
				<xs:attribute name="unit" type="string_Type" default="K"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="km_integer_03d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_03d_Type">
				<xs:attribute name="unit" type="string_Type" default="km"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="deg_float_s03p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_s03p3f_Type">
				<xs:attribute name="unit" type="string_Type" default="deg"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="min_integer_03d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_03d_Type">
				<xs:attribute name="unit" type="string_Type" default="Min"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Km_double_05p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_05p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="Km"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Km_float_04p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_04p3f_Type">
				<xs:attribute name="unit" type="string_Type" default="Km"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="bytes_integer_06d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_06d_Type">
				<xs:attribute name="unit" type="string_Type" default="bytes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="bytes_integer_011d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_011d_Type">
				<xs:attribute name="unit" type="string_Type" default="bytes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="bytes_long_011ld_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="long_011ld_Type">
				<xs:attribute name="unit" type="string_Type" default="bytes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Np_double_03p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_03p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="Np"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="mExp2_mExp-2_double_03p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_03p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="m^2·m^-2"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="nepper_double_03p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_03p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="nepper"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="g_cmExp-3_double_03p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_03p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="g cm^-3"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="mExp3_mExp-3_double_03p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_03p6lf_Type">
				<xs:attribute name="unit" type="string_Type" default="m^3 m^-3"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="deg_float_04f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_04f_Type">
				<xs:attribute name="unit" type="string_Type" default="deg"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Km_integer_03d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_03d_Type">
				<xs:attribute name="unit" type="string_Type" default="Km"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Km_short_03hd_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="short_03hd_Type">
				<xs:attribute name="unit" type="string_Type" default="Km"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MHz_1__55p84_integer_s02d_Type">
		<xs:simpleContent>
			<xs:extension base="integer_s02d_Type">
				<xs:attribute name="unit" type="string_Type" default="1/55.84 MHz"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="days_float_s1p16f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_s1p16f_Type">
				<xs:attribute name="unit" type="string_Type" fixed="Days"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="days_double_s1p16lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_s1p16lf_Type">
				<xs:attribute name="unit" type="string_Type" fixed="Days"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="second_float_08p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_08p3f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="seconds"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seconds_integer_08d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_08d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="seconds"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seconds_unsigned_Long_08ld_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="unsigned_Long_08ld_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="seconds"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="s_integer_04d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_04d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="s"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="second_integer_03d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_03d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="seconds"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="K_float_02p2f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_02p2f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="K"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="km_float_03p1f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_03p1f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Km"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="second_float_06p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_06p3f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="seconds"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="degrees_float_s03p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_s03p3f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="degrees"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="degrees_float_s04p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_s04p3f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="degrees"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="K_float_03p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_03p3f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="K"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="K_float_s04p6f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_s04p6f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="K"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="K_double_s04p6lf_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="double_s04p6lf_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="K"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="epochs_integer_03d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_03d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="epochs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="epochs_short_03hd_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="short_03hd_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="epochs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="percentage_10Exp-2_integer_s06d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_s06d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="10-2%"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LICEFs_integer_02d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_02d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="LICEFs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LICEFs_integer_01d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_01d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="LICEFs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Arms_integer_01d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_01d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Arms"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CMNs_integer_02d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_02d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="CMNs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Arm_Segments_integer_01d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_01d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Arm segments"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Noise_Sources_integer_02d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_02d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Noise sources"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NIRs_integer_01d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_01d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="NIRs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Thermistors_Channels_integer_02d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_02d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Thermistors Channels"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Polarization_Modes_integer_01d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_01d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Polarization Modes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Packets_integer_01d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_01d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Packets"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Packets_integer_02d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_02d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Packets"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Offsets_integer_04d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_04d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Offsets"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="bits_integer_02d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_02d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="bits"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MHz_integer_02d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_02d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="MHz"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="seconds_float_01p1f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_01p1f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="seconds"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Lambdas_float_01p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_01p3f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Lambdas"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Baselines_integer_04d_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="integer_04d_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="Baselines"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
