beam-smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/common/Basic_Types_0002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 1.0 24/02/2006 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://213.170.46.150/smos/schemas" targetNamespace="http://213.170.46.150/smos/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0001">
	<xs:simpleType name="string_Type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="integer_d_Type">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="float_f_Type">
		<xs:restriction base="xs:float"/>
	</xs:simpleType>
	<xs:simpleType name="short_hd_Type">
		<xs:restriction base="xs:short"/>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Short_hu_Type">
		<xs:restriction base="xs:unsignedShort"/>
	</xs:simpleType>
	<xs:simpleType name="unsigned_Integer_hd_Type">
		<xs:restriction base="xs:unsignedInt"/>
	</xs:simpleType>
	<xs:simpleType name="string_File_Name_60_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}_[A-Z]{4}_[A-Z_]{4}[a-zA-Z0-9_]{6}_[a-zA-Z0-9_]{41}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_60_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_DS_Type_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="M|R"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_14_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_4_Type">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_4_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_5_Type">
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Upper_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_File_Class_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="TEST|OPER|REPR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_03u_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_date_22_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}=[0-9]{4}\-[0-1]{1}[0-9]{1}[0-3]{1}[0-9]{1}[T][0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_date_30_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}=[0-9]{4}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1}[T][0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_date_23_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}=[0-9]{4}\-[0-1]{1}[0-9]{1}\-[0-3]{1}[0-9]{1}[T][0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_12_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Creator_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_File_Type_10_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}_[A-Z_0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_13_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Proc_Stage_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="OPER|TEST|RPRO|NRET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Product_Confidence_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="NOMINAL|DEGRADED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Acquisition_Chain_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="A|B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Flag_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Proc_Version_14_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9_]{9}/[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Upper_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_03d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s04d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s05d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_04d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-]{1}[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_04u_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s06d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_06d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s08p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{7}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s08p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{7}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s05p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{4}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_04p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_03p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9\-]{1}[0-9]{2}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s03p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{2}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Vector_Source_3_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="IG|FP|FR| "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Vector_Source_2_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="IG|FP|FR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_010d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_011d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_021d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{21}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s011d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\-\+][0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Ascending_Flag_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="A|D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_28_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="28"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_27_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="27"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_17_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Data_Set_Type_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="M|R"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s08d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_62_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="62"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Byte_Order_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="3210|0123|2301|0000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Overlap_Included_3_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="Yes|No|N/A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Type_Gap_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Mode_Gap_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="deg_float_03p3f_Unit_Type">
		<xs:simpleContent>
			<xs:extension base="float_03p3f_Type">
				<xs:attribute name="unit" type="string_Type" use="required" fixed="deg"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="integer_01d_Type_Processing_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Reason_Reprocessing_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Reason_Product_Qualification_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3|4|5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Source_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_02d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Algorithm_Name_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Algorithm_Creator_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Algorithm_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_J_Matrix_Pseudoinversion_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_04d_Xi_Eta_Resolution_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Direct_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Reflected_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Flat_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Ionospheric_Information_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3|4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Type_of_Processing_Mixed_Pixels_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Geometric_Correction_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Apodisation_Function_Type_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_03d_Apodisation_Window_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Mode_15_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="APID_DUAL|APID_EXC_DUAL|APID_FULL|APID_EXC_FULL|APID_U_CAL|APID_C_CAL|APID_TEST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Overall_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="0|1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_010f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_01p16f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}\.[0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_010p4f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}\.[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s3p6_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_4d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Attitude_4_Flag_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="NOMINAL_POINTING|TRANSITION_TO_NOMINAL_POINTING|TRANSITION_TO_EXTERNAL_POINTING|EXTERNAL_POINTING"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_1d_Logical_Proc_Centre_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-6]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_1f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s04p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_07p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{7}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Acquisition_Chain_5_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="FEP-1|FEP-2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Acquisition_Chain_4_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="DAS1|DAS2|DAS3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_200_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s02d_Flag_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s1p16f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-]\.[0-9]{16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_08p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_06p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s06p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{5}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_1d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_01d_Image_Reconstruction_Algorithm_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_s04p6f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_s04p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{3}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="long_017ld_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{17}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_08d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_01p1f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}\.[0-9]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_01p2f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_01p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_4_length_Type">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Digits_3_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Quality_1_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="P|W|F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_Product_Confidence_7_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="NOMINAL|ERROR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_8_Type">
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_1_Type">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_3_Type">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_20_Type">
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_30_Type">
		<xs:restriction base="xs:string">
			<xs:length value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_60_Type">
		<xs:restriction base="xs:string">
			<xs:length value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_05d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_05p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_04p3f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s03d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s07d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_s08p3lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{7}.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_s05p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{4}.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_04p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_010lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9\.][0-9]{8}|[0-9]{2}[0-9\.][0-9]{7}|[0-9]{3}[0-9\.][0-9]{6}|[0-9]{4}[0-9\.][0-9]{5}|[0-9]{5}[0-9\.][0-9]{4}|[0-9]{6}[0-9\.][0-9]{3}|[0-9]{7}[0-9\.][0-9]{2}|[0-9]{8}[0-9\.][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_012lf_Type">
		<xs:restriction base="xs:string">
			<!--<xs:totalDigits value="12"/>-->
			<xs:pattern value="[0-9][0-9\.][0-9]{10}|[0-9]{2}[0-9\.][0-9]{9}|[0-9]{3}[0-9\.][0-9]{8}|[0-9]{4}[0-9\.][0-9]{7}|[0-9]{5}[0-9\.][0-9]{6}|[0-9]{6}[0-9\.][0-9]{5}|[0-9]{7}[0-9\.][0-9]{4}|[0-9]{8}[0-9\.][0-9]{3}|[0-9]{9}[0-9\.][0-9]{2}|[0-9]{10}[0-9\.][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_01p8lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]\.[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_03p6lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}\.[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_07d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_04f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9][0-9\.][0-9]{2}|[0-9]{2}[0-9\.][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_02p7lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}\.[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_30_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="integer_s010d_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\+\-][0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_42_Type">
		<xs:restriction base="xs:string">
			<xs:length value="42"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_200_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string_max_300_Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="max_300_Type">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="float_02p2f_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="double_07p3lf_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{7}\.[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
