beam-smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/MIR_/L0_Main_Product_Header_0011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 11.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0011" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../MIR_/L0_MPH_Orbit_Information_Type_0009.xsd"/>
	<xs:complexType name="Main_Product_Header_Type">
		<xs:sequence>
			<xs:element default="SO-TN-IDR-GS-0003" name="Ref_Doc" type="string_17_Type"/>
			<xs:element default="xxxx" name="Acquisition_Station" type="string_4_Type"/>
			<xs:element default="xxxx" name="Processing_Centre" type="string_4_Type"/>
			<xs:element default="xxx" name="Logical_Proc_Centre" type="string_3_Type"/>
			<xs:element name="Orbit_Information" type="Orbit_Information_Type"/>
			<xs:element default="NOMINAL" name="Product_Confidence" type="string_Product_Confidence_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>