beam-smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/MIR_/L1_SPH_FWF_Quality_Information_A_0008.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 8.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0008" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../common/Complex_Unit_Types_0010.xsd"/>
	<xs:complexType name="FWF_Quality_Data_Type">
		<xs:sequence>
			<xs:element default="0" name="FWF_Time_Delay" type="MHz_1__55p84_integer_s02d_Type"/>
			<xs:element default="0" name="N_Averaged_Measurements" type="float_1f_Type"/>
			<xs:element default="0" name="FWF_Quality" type="integer_01d_Flag_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="List_FWF_Quality_Datas_Type">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="FWF_Quality_Data" type="FWF_Quality_Data_Type"/>
		</xs:sequence>
		<xs:attribute default="0" name="count" type="unsigned_Short_hu_Type"/>
	</xs:complexType>
	<xs:complexType name="FWF_Quality_Information_Type">
		<xs:sequence>
			<xs:element name="List_of_FWF_Quality_Datas" type="List_FWF_Quality_Datas_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>