beam-smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/MIR_/L1_SPH_Foreign_Sources_Correction_B_0009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 9.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0009" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:complexType name="Foreign_Sources_Correction_Type">
		<xs:sequence>
			<xs:element default="1" name="Flat_Correction_Type" type="integer_01d_Flat_Correction_Type_Type"/>
			<xs:element default="0" name="Direct_Sun_Correction_Type" type="integer_01d_Direct_Correction_Type_Type"/>
			<xs:element default="1" name="Reflected_Sun_Correction_Type" type="integer_01d_Reflected_Correction_Type_Type"/>
			<xs:element default="1" name="Reflected_Moon_Correction_Type" type="integer_01d_Reflected_Correction_Type_Type"/>
			<xs:element default="0" name="Earth_Contribution_Removed" type="integer_01d_Contribution_Removed_Type"/>
			<xs:element default="0" name="Sky_Contribution_Removed" type="integer_01d_Contribution_Removed_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>