beam-smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/MIR_/L1_SPH_Uncorrelated_Quality_Information_A_0008.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by mtmpalomares (EMBRACE) -->
<!-- XML schema for smos product -->
<!--  v 8.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0008" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:complexType name="Uncorrelated_Quality_Information_Type">
		<xs:sequence>
			<xs:element default="000" name="N_Averaged_Measurements" type="short_03hd_Type"/>
			<xs:element default="0" name="Uncorrelated_Quality" type="integer_01d_Flag_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>