beam-smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/MIR_/L2_Main_Product_Header_0009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 9.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0009" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../common/Complex_Unit_Types_0010.xsd"/>
	<xs:complexType name="Orbit_Information_Type">
		<xs:sequence>
			<xs:element default="+000" name="Phase" type="integer_s04d_Type"/>
			<xs:element default="+000" name="Cycle" type="integer_s04d_Type"/>
			<xs:element default="+00000" name="Rel_Orbit" type="integer_s06d_Type"/>
			<xs:element default="+00000" name="Abs_Orbit" type="integer_s06d_Type"/>
			<xs:element default="TAI=2007-01-01T00:00:00.000000" name="OSV_TAI" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="OSV_UTC" type="string_date_30_Type"/>
			<xs:element default="UT1=2007-01-01T00:00:00.000000" name="OSV_UT1" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Leap_Second" type="string_date_30_with_blank_Type"/>
			<xs:element default="+0000000.000" name="X_Position" type="m_double_s08p3lf_Unit_Type"/>
			<xs:element default="+0000000.000" name="Y_Position" type="m_double_s08p3lf_Unit_Type"/>
			<xs:element default="+0000000.000" name="Z_Position" type="m_double_s08p3lf_Unit_Type"/>
			<xs:element default="+0000.000000" name="X_Velocity" type="m__s_double_s05p6lf_Unit_Type"/>
			<xs:element default="+0000.000000" name="Y_Velocity" type="m__s_double_s05p6lf_Unit_Type"/>
			<xs:element default="+0000.000000" name="Z_Velocity" type="m__s_double_s05p6lf_Unit_Type"/>
			<xs:element default="FP" name="Vector_Source" type="string_Vector_Source_2_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Main_Product_Header_Type">
		<xs:sequence>
			<xs:element default="SO-TN-IDR-GS-0005" name="Ref_Doc" type="string_17_Type"/>
			<xs:element default="XBAS" name="Acquisition_Station" type="string_4_Type"/>
			<xs:element default="ESAC" name="Processing_Centre" type="string_4_Type"/>
			<xs:element default="xxx" name="Logical_Proc_Centre" type="string_3_Type"/>
			<xs:element name="Orbit_Information" type="Orbit_Information_Type"/>
			<xs:element default="x" name="Product_Confidence" type="string_max_200_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>