beam-smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/MIR_/L2_SPH_Main_Info_0009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 9.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0009" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../common/Complex_Unit_Types_0010.xsd"/>
	<xs:complexType name="Time_Info_Type">
		<xs:sequence>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Precise_Validity_Start" type="string_date_30_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="Precise_Validity_Stop" type="string_date_30_Type"/>
			<xs:element default="+00000" name="Abs_Orbit_Start" type="integer_s06d_Type"/>
			<xs:element default="0000.000000" name="Start_Time_ANX_T" type="s_double_04p6lf_Unit_Type"/>
			<xs:element default="+00000" name="Abs_Orbit_Stop" type="integer_s06d_Type"/>
			<xs:element default="0000.000000" name="Stop_Time_ANX_T" type="s_double_04p6lf_Unit_Type"/>
			<xs:element default="UTC=2007-01-01T00:00:00.000000" name="UTC_at_ANX" type="string_date_30_Type"/>
			<xs:element default="+000.000000" name="Long_at_ANX" type="deg_double_s04p6lf_Unit_Type"/>
			<xs:element default="A" name="Ascending_Flag" type="string_Ascending_Flag_1_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Main_Info_Type">
		<xs:sequence>
			<xs:element default="XXXXXXXXXXXXXX" name="SPH_Descriptor" type="string_14_Type"/>
			<xs:element name="Time_Info" type="Time_Info_Type"/>
			<xs:element default="0000000000" name="Checksum" type="long_010ld_Type"/>
			<xs:element default="HDR_MM_CCCC_TTTTTTTTTT_vvvv.xsd" name="Header_Schema" type="string_31_Type"/>
			<xs:element default="DBL_MM_CCCC_TTTTTTTTTT_vvvv.binXschema.xml" name="Datablock_Schema" type="string_42_Type"/>
			<xs:element default="000000" name="Header_Size" type="integer_06d_Type"/>
			<xs:element default="00000000000" name="Datablock_Size" type="long_011ld_Type"/>
			<xs:element default="xxxx" name="HW_Identifier" type="string_4_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>