beam-smos-reader/src/main/resources/org/esa/beam/dataio/smos/schemas/common/MIR_/L2_SPH_Quality_Information_Salinity_0006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML schema for smos product -->
<!--  v 6.0 14/06/2007 -->
<!-- www.indra.es -->
<!-- teledeteccion@indra.es -->
<!-- Copyright (c) 2006 Indra Espacio -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://213.170.46.150/smos/schemas" version="0006" xmlns="http://213.170.46.150/smos/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Basic_Types_0012.xsd"/>
	<xs:include schemaLocation="../common/Complex_Unit_Types_0010.xsd"/>
	<xs:complexType name="Quality_Information_Type">
		<xs:sequence>
			<xs:element default="0" name="Overall_Quality" type="integer_01d_Overall_Type"/>
			<xs:element default="00000" name="Percentage_of_Good_Retrieval" type="percentage_10Exp-2_integer_05d_Unit_Type"/>
			<xs:element default="00000" name="Overall_Quality_Threshold_Low" type="percentage_10Exp-2_integer_05d_Unit_Type"/>
			<xs:element default="00000" name="Overall_Quality_Threshold_High" type="percentage_10Exp-2_integer_05d_Unit_Type"/>
			<xs:element default="+000.000000" name="GP_Average_Measurement_percentage" type="double_s04p6lf_Type"/>
			<xs:element default="+000.000000" name="GP_Average_Valid_Measurement_percentage" type="double_s04p6lf_Type"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>